.container {
	width: 100%;
	display: flex;
}
.navbarDashboard {
	width: 30%;
}
.pages {
	width: 70%;
}
.btn {
	display: block;
	padding: 1em;
	font-size: 1.6em;
	border: none;
	background-color: red;
	color: white;
	font-weight: bold;
	margin-left: auto;
}
