.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  flex-direction: center;
}

.title {
  font-family: "Fredoka", sans-serif;
  text-align: center;
  font-size: 3em;
  color: rgb(26, 26, 46);
  margin-bottom: 2em;
}
.contato {
  width: 90%;
  margin: 0 auto;
}
.listInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 2em;
}

.content {
  display: flex;
}

.info {
  font-size: 1.6em;
}
.info span {
    font-weight: bold;
}

.svg svg {
  display: inline-block;
  font-size: 50px;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  color: rgb(130, 188, 253);
}
