.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    background-color: #EFF2F1;
    padding: 1em;
    padding-bottom: 6em;
}

.title{
    text-align: center;
    color: rgba(13, 13, 24, 0.966);
    border-bottom: 1px solid rgba(13, 13, 24, 0.966);
    margin: 0 auto;
    max-width: 300px;
    font-size: 3em;
    margin-bottom: 40px;
    margin-top: 40px;
}

.container_list {
    max-width: 1170px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 4rem;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.container_input {
    padding-bottom: 1em;
    align-items: center;
    text-align: center;
    font-size: 2em;
}
.container_input input {
    max-width: 300px;
    width: 100%;
    color:rgba(66, 66, 68, 0.966);
    font-weight: bold;
    border: 1px solid rgba(90, 87, 87, 0.521);
}

.container_input input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

@media (max-width: 540px) {
 .container_list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;   
 }   
}