.container {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 4rem;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}

