
.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-height: 500px;
  max-width: 1240px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}
