.footer {
    background-color:rgb(130, 188, 253);
    color: white;
    text-align: center;
    margin: 0 auto;
    max-width: 1240px;
    padding: 1em;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}

.social_list li {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
}

.social_list li:hover {
    color: rgba(50, 62, 95, 0.432);
}

.social_list svg {
    font-size: 3em;
    cursor: pointer;
}

.copyright {
    color: white;
    margin-top: 0.3em;
    font-size: 2em;
}

.copyright span:hover{
    font-weight: bold;
    color: rgba(50, 62, 95, 0.432);
}