.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: rgba(206, 201, 201, 0.171);
}

.boxUser {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 25px 0 25px 0;
}

.peluciaAvatar {
	width: 50px;
	height: 50px;
}

.peluciaAvatar img {
	width: 100%;
	height: 100%;
}

.profile a {
	color: gray;
	font-size: 1.5em;
}

.username {
	font-weight: bold;
	font-size: 1.4em;
}

.item {
	cursor: pointer;
}
.item svg{
	font-size: 1.6em;
}

.sectionName {
	font-weight: bold;
	font-size: 1.6em;
}
.sectionName:hover{
	color:  #404E65;
}
.itemDashboard {
	font-size: 1.6em;
	color: rgba(128, 128, 128, 0.637);
}

.itemDashboard:hover {
	color:  #404E65;
}

.itemDashboard_profile{
	font-size: 1.6em;
	margin-left: 25px;
	color:  #404E65;
}
.itemDashboard_address {
	font-size: 1.6em;
	margin-left: 25px;
	color:  #404E65;
}
.itemDashboard_password {
	font-size: 1.6em;
	margin-left: 25px;
	color:  #404E65;
}
