
.container {
    margin: 0 auto;
    max-width: 1240px;
}
.firstNavbar {
    width: 100%;
    display: flex;
    align-items: center; 
    background-color: rgb(130, 188, 253);
    margin: 0 auto;
}

.firstList {
    display: flex;
    margin-right: 2rem;
}
.firstList a{
    display: block;
    font-size: 2em;
    padding: 1em;
    color: white;
    font-weight: bold;
}
.firstList a:hover {
    background-color: rgba(75, 155, 247, 0.788);
}

.secondNavBar {
    display: flex;
    align-items: center;
}

.logo {
    padding-right: 4em;
    width: 300px;
}
.logo img {
   width: 100%;
   height: 100%;
}

.conteinerNavBar a{
    display: flex;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    text-align: center;
    line-height: 2em;
    color: black;
    transition: transform 0.3s ease-out;
}

.svg {
    font-size: 5em;
    transition: transform 0.3s ease-out;
}
.conteinerNavBar a:hover {
    transform: translateY(10px);
    color: gray;
}