.warning{
	visibility: hidden;
}
.showWarning {
	visibility: visible;
}
.containerError {
	height: auto;
	max-width: 300px;
	background-color: rgb(255, 0, 0);
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	z-index: 10;
	text-align: center;
}
.containerSucess {
	height: auto;
	max-width: 300px;
	background-color: rgb(111, 255, 75);
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	z-index: 10;
	text-align: center;
}
.icon {
	display: block;
	text-align: center;
	font-size: 3em;
	color: white;
}
.containerError strong,
.containerSucess strong{
	width: 100%;
	font-size: 1.7em;
	color: white;
	font-weight: bold;
}
