.product {
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    text-align: justify;
}
.product img {
    width: 70px;
    height: 70px;
    min-width: auto;
    min-height: auto;
}

.product p {
   font-size: 16px;
}