.product {
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    text-align: justify;
    border-bottom: 1px solid rgba(75, 155, 247, 0.788);
    background-color: white;
}
.product img {
    width: 70px;
    height: 70px;
    min-width: auto;
    min-height: auto;
}

.product p {
   font-size: 16px;
}